@font-face {
    font-family: Secular;
    src: url("fonts/SecularOne-Regular.ttf");
  }
@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
  }
*{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
section{
    max-width: 1360px;
    margin: 0 auto;
}
#corpo{
    width: 100%;
    background-color: white;
    margin: 0 auto;
}
#meiodocorpo{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
header img{
    margin: 8px;
}
nav{
    padding: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    flex: 1 80px 1;
    flex-wrap: wrap;
}
ul a{
    text-decoration: none;
    color: black;
}
a li{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    margin: 10px 10px ;
}
#inicio{
    max-width: 100%;
}
#meiodoinicio{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    background-color: #F8F5F5;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 0 10px 100px 10px;
}
.migue h1{
    font-family: 'Secular';
    font-size: 70px;
    font-weight: 400;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
}
.migue p{
    font-family: 'Secular';
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.imgdeapoio{
    display:block;
    max-width: 400px;
}

#sobrenos{
    width: 100%;
}
#meiosobrenos{
    margin: 0 auto;
    max-width: 1360px;
    margin: 0 10px 100px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #F8F5F5;
    border-radius: 20px;
    
}
#paidoh1{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 24px;
    gap: 10px;
}
#h1sobrenos{
    width: 262px;
    margin: 50px 0 0 0;   
    font-family: 'Secular';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
#paidoh1 div p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 100px;
}
#paidoh1 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}
.enfeitar{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.enfeitegrande{
    width: 136px;
    height: 10px;
    left: 70px;
    top: 416px;
    background: #6DAC47;
    border-radius: 20px;
}
.enfeite{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #6DAC47;
}
#meiosobrenos section img{
    display: block;
    max-width: 500px;
    border-radius: 30px;
    margin: 20px;
}



#aplicativo{
    max-width: 100%;
}
#meioapp{
    margin: 0 auto;
    max-width: 1360px;
    margin: 0 10px 100px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #F8F5F5;
    border-radius: 20px;

}
#h1aplicativo{
    width: 262px;
    margin: 50px 0 0 0px;   
    font-family: 'Secular';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
#parte1app{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 24px;
    gap: 10px;
}
#parte1app p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
#aplicativo section img{
    display: block;
    border-radius: 30px;
    margin: 40px 40px 40px 0;
}


#curiosidades{
    display: flex;
    flex-direction: column;
    background-color: #F8F5F5;
    width: 98.5%;
    margin-bottom: 100px;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}
#parteimp{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 350px;
    background: #9CEBA0;
    border-radius: 30px;
    gap: 20px;
    padding: 15px;
    margin: 20px;
}
#textoapoio{
    max-width: 1100px;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    gap: 30px;
}
#textoapoio ul{
    display: block;
    margin: 20px;
}
#textoapoio ul li{
    list-style-type: disc;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    margin: 20px 0 20px 0;
    font-family: 'Poppins';
}

.bloc div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
#textocct{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Poppins';
}




#facaparte{
    max-width: 100%;
}
#meiofacaparte{
    margin: 0 auto;
    max-width: 1360px;
    margin: 0 10px 100px 10px;
    display: flex;
    background-color: #F8F5F5;
    border-radius: 20px;
}
#h1facaparte{
    max-width: 300px;
    margin: 50px 0 0 0px;   
    font-family: 'Secular';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
#parte1fp{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: 24px;
    gap: 30px;
}
#parte1fp p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
#pessoas{
    display: block;
    width: 100%;
    margin: 10px;
    max-width: 480px;
}
#parte2fp{
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 30px;
    width: 100%;
    max-width: 450px;
}
#parte2fp div{
    display: flex;
    flex-direction: column;
    margin: 24px;
    gap: 30px;
    width: 100%;
}
#parte2fp h2{
    max-width: 500px;
    background: #6DAC47;
    border-radius: 25px 25px 0px 0px;
    padding: 30px 0 25px 35px;

}
#parte2fp div a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    gap: 10px;
}
#parte2fp div a img{
    max-width: 70px;
}
#parte2fp div a label{
    max-width: 400px;
    font-family: 'Secular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: #000000;
}



#ifal{
    display: block;
    width: 100%;
    max-width: 500px;
}
footer{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}
footer img{
    flex: 1 200px 1;
}
